<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content>
        <img class="dogAvatar" src="../assets/img/fakeDog.png">
        <ion-list>
          <ion-menu-toggle auto-hide="true" *ngFor="let p of menuPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <img class="menuIcon" slot="start" [name]="p.icon">
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>