* {
    text-decoration: none;
    font-family: 'Raleway', sans-serif, bold;
    font-weight: bold;
}
.title {
    --background: #70CCC6;
    font-family: 'Raleway', sans-serif, bold;
    font-weight: bold;
    color: white;
}
hr {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    mix-blend-mode: normal;
    opacity: 0.1;
    border: 2px solid #1D1D26;
}

a .p {
    width: 400px;
    height: 5%;
    font-family: 'Raleway', sans-serif, bold;
    font-weight: bold;
    color: black;
    font-size: 100%;
    padding-left: 40px;
    margin-top: 10%;
    position: relative;
    .arrow {
        position: absolute;
        align-content:flex-end;
        bottom: 3%;
        right: 15%;
    }
}
button {
    width: 80%;
    height: 40px;
    background: #70CCC6;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif, bold;
    font-weight: bold;
    color: white;
    font-size: 90%;
    margin-top: 10%;
    margin-left: 10%;
    box-shadow: 5px 5px #D8D8D8;
  }
  .backArrow {
    box-shadow: 5px 5px #70CCC6;
  }
 