<ion-header>
  <ion-toolbar class="title">
      <ion-buttons slot="start">
          <button class="backArrow" (click)="backClicked()">  
          <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Acerca</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <a href="menu/termsconditions">
    <p class="p" expand="full">Términos y condiciones
    <img class="arrow" src="../assets/icon/Arrow.svg">
    </p>
  </a>

  <br>

  <hr noshade>
  <a href="menu/privacypolicy">
    <p class="p" expand="full">Política de Privacidad
    <img class="arrow" src="../assets/icon/Arrow.svg">
    </p>
  </a>


  <br>
  <hr noshade>
  <a href="menu/team">
    <p class="p" expand="full">El equipo
    <img class="arrow" src="../assets/icon/Arrow.svg">
    </p>
  </a>

  <br>
  <hr noshade>
</ion-content>