<ion-header>
    <ion-toolbar class="title">
      <ion-buttons slot="start">
        <button class="backArrow" (click)="backClicked()">  
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ul>
          <li *ngFor="let bin of bins">
            <div>{{bin.address[0].addressName}}</div>
            <ion-button (click)="deleteBin(bin._id)">Delete</ion-button>
          </li>
        </ul>
  </ion-content>

