<ion-header>
  <ion-toolbar class="title">
      <ion-buttons slot="start">
        <button class="backArrow" (click)="backClicked()">  
        <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Papeleras favoritas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content></ion-content>
<ion-split-pane contentId="menu-content">
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
<ion-content>
  <ul>
    <li *ngFor="let bin of bins">
      <div class=binFavs>{{bin.address[0].addressName}} 
        <button class="deletedBin" (click)="deleteBin(bin._id)">
          <img class="deletedBin" src="../../assets/img/deletedBin.png">
        </button>
        <hr noshade>
      </div>
    </li>
  </ul>
</ion-content>