p{
    font-weight: var(--font-medium);
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid var(--dark-gray);
}
.buttons{
    height: 150px;
    margin-top: 10%;
    margin-bottom: 2%;
}
.favorite{
    width: 40%;
    height: 90px;
    background-color: #70CCC6;
    margin-left: 6%;
    border-radius: 12px;
    padding: 10%;
}

.bags{
    height: 90px;
    width: 52%;
    margin-left: 1%;
    background: #F2F2F2;
    border-radius: 10px;
}
     
.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 58px;
    line-height: 26px;
    text-align: center;
}
      
.switch-label-off {
    padding-left: 2px;
}   
      
.switch-label-on {
    padding-right: 2px;
}
.switch-input {
    display: none;

    }
/* mueve la bola a no a la izquierda */
.switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 50%;
    background: red;

}
/*       bola grande*/ 
.switch-selection {
    position: absolute;
    z-index: 1;
    top: -18px;
    left: 0%;
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 100px;
    background:var(--blue);
    opacity: 5;

}
.switch {
    position: relative;
    height: 40px;
    width: 80%;
    margin: 20px auto;
    background: var(--blue);
    opacity: 0.4;
    border-radius: 30px;
}

.hide{
    position: absolute;
    bottom: -200px;
    transition: .8s bottom ease-in-out;
}
