
hr {
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  mix-blend-mode: normal;
  opacity: 0.1;
  border: 2px solid #1D1D26;
}
h3 {
  font-size: 100%;
  text-align: center;
}
p {
  font-size: 80%;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: normal;

}
button {
  width: 80%;
  height: 40px;
  background: #70CCC6;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif, bold;
  font-weight: bold;
  color: white;
  font-size: 90%;
  margin-top: 10%;
  margin-left: 10%;
  box-shadow: 5px 5px #D8D8D8;
}


a .p {
  width: 400px;
  height: 5%;
  font-family: 'Raleway', sans-serif, bold;
  font-weight: bold;
  color: var(--dark-gray);
  font-size: 100%;
  padding-left: 40px;
  margin-top: 10%;
  position: relative;
}
