<ion-content padding center text-center>
  <ion-title>Pooppy
  </ion-title>
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="email" placeholder="Introduce tu correo electrónico"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="onSubmitLogin()" expand="block">Conéctate</ion-button>
  <ion-button color="primary" (click)="goRegister()" expand="block">Regístrate</ion-button>
</ion-content>