<ion-content padding center text-center>
  <ion-img slot="start" class="fakeDog" src="../assets/img/fakeDog.png">
  </ion-img>
  <!-- <ion-img class="fakeDog" src="../assets/img/fakeDog.png">
  </ion-img> -->
  <ion-title>Pooppy
  </ion-title>
  <ion-list>
    <ion-item>
      <ion-input usertype="text" [(ngModel)]= user.username placeholder="Introduce tu nombre completo" *ngIf = "verNombre === true">
        <ion-img class="iconLogin" src=""></ion-img>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]= user.email placeholder="Introduce tu correo electrónico">
        <ion-img class="iconLogin" src=""></ion-img>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Contraseña" type=password [(ngModel)]= user.password>
        <ion-img class="iconLogin" src=""></ion-img>
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="onSubmitLogin()" expand="block">Entra</ion-button>
  <ion-button color="primary" (click)="goRegister()" expand="block" *ngIf = "verNombre === false"> Regístrate </ion-button>
</ion-content>