<ion-content padding center text-center>
  <ion-list>
    <div class="avatarCircle"></div>
    <img class="iconDog" src="../assets/img/fakeDog.png">
    <ion-item>
      <input class="exampleText" usertype="text" [(ngModel)]=user.email placeholder="Introduce tu correo"
        *ngIf="verNombre === true">
      <img class="iconLogin">
    </ion-item>
    <ion-item>
      <input class="exampleText" type="text" [(ngModel)]=user.email placeholder="Introduce tu correo electrónico">
    <img class="iconLogin">
    </ion-item>
    <ion-item>
      <input class="exampleText" placeholder="Contraseña" type=password [(ngModel)]=user.password>
      <img class="iconLogin">
      </ion-item>
  </ion-list>
  <button class="button" (click)="onSubmitLogin()" expand="block">Entra</button>
  <button class="button" color="primary" (click)="goRegister()" expand="block" *ngIf="verNombre === false"> Regístrate
  </button>
</ion-content>