<ion-card>
<!--     <ion-card-header>
        <ion-card-subtitle>Pooppy</ion-card-subtitle>
        <ion-card-title>Localización de papeleras</ion-card-title>
      </ion-card-header> -->

      <ion-header>
        <ion-navbar color="primary">
          <ion-title>
            Demo 111
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content>
        <div id="map_canvas"></div>
      </ion-content>
    </ion-card>
<!-- <ion-card-content>
  <div #map class="map">
    <script src="papeleras_full.js"></script>
  </div>
  <h3>My Google Maps Dem
  
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk4sJLG1sfjhF18PTV0cOA-mO8ap5pghQ&callback=initMap">
    </script>
  </ion-card-content>

<ion-toggle checked color="primary"></ion-toggle>
<ion-button size="small" color="primary"> </ion-button> -->